*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c4c8a;

}

.container{
    width: 40%;
    height: 50%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid black;
    background-image: linear-gradient(to top, #845ec2, #956cce, #a67bda, #b78ae7, #c899f3);
}

.app-title p{
    font-size: 1.2rem;
    font-family: monospace;
}

.weather-icon img{
    width: 120px;
    height: 120px;
}

.temperature-value p{
    font-size: 1.5rem;
    font-family: monospace;
}

.temperature-description p{
    font-size: 1.2rem;
}

.location p{
    font-size: 1rem;
}

.notification{
    font-size: 1.2rem;
    width: 100%;
    height: auto;
    background-color: rgb(175, 93, 93);
    text-align: center;
    border-bottom: 2px solid rgb(228, 69, 69);
    border-top: 2px solid rgb(231, 60, 60);
    padding: 10px 0px 10px 0px;
    color: rgb(169, 16, 16);
    display: none;

}



@media only screen and (max-width: 600px) and (min-width: 200px) {

    .container{
        width: 80%;
    }
}